<% provide(:title, "About") %>
<h1><%= t "about" %></h1>
<p>
  The <a href="http://www.railstutorial.org/"><em><%= t "title_about" %></em></a> is a
  <a href="http://www.railstutorial.org/book"><%= t "title_book" %></a> and
  <a href="http://screencasts.railstutorial.org/"><%= t "title_series" %></a> to teach web development with
  <a href="http://www.railstutorial.org/"><%= t "title_about" %></a> This is the sample application for the tutorial.
</p>
