<% provide(:title, t("help")) %>
<h1><%= t "get_help" %></h1>
<p>
  <%= t "get_help" %>
  <a href="http://www.railstutorial.org/help"><%= t "rails_section" %></a>.
  <%= t "to_get_help" %>
  <a href="http://www.railstutorial.org/book"><em><%= t "title" %></em></a>
</p>
