<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/"><%= t "title" %></a>
    by <a href="http://www.michaelhartl.com/"><%= t "author" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about"), "/about" %></li>
      <li><%= link_to t("contact"), "/contact" %></li>
      <li><a href="http://news.railstutorial.org/"><%= t "news" %></li>
    </ul>
  </nav>
</footer>
